@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

@import "tailwindcss";

body {
  font-family: 'Nunito', sans-serif;
}

/* This creates the faint star pattern in the background */
.bg-stars {
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
  opacity: 0.15;
}